<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1014</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photoBG01</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1334</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>radius</key>
				<string>0</string>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>line3</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>line</string>
				<key>width</key>
				<string>162</string>
				<key>height</key>
				<string>434</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>294</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>422</string>
				</dict>
			</dict>
			<dict>
				<key>radius</key>
				<string>0</string>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>line4</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>line</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>10</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>50</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>680</string>
				</dict>
			</dict>
			<dict>
				<key>radius</key>
				<string>0</string>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>line4</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>line</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>10</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>680</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>270</string>
				</dict>
			</dict>
			<dict>
				<key>radius</key>
				<string>0</string>
				<key>editType</key>
				<string>0</string>
				<key>imageUrl</key>
				<string>border5</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>border</string>
				<key>width</key>
				<string>122</string>
				<key>height</key>
				<string>419</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>40</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>40</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>180</string>
				<key>height</key>
				<string>180</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>540</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1102</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>28</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>浙 江 省 工 业 设 计 协 会</string>
				<key>width</key>
				<string>50</string>
				<key>height</key>
				<string>400</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>180</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>30</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>80</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>雷海波</string>
				<key>width</key>
				<string>100</string>
				<key>height</key>
				<string>340</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>325</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>500</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>扫 码 了 解 更 多</string>
				<key>width</key>
				<string>180</string>
				<key>height</key>
				<string>40</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>540</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1285</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>8</string>
				<key>weight</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>8月28日  ·  8点 至 12点</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>600</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>95</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>700</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>8</string>
				<key>weight</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>浙江省黄岩市黄岩耀达酒店永宁厅</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>600</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>50</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>700</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>8</string>
				<key>weight</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>浙江传统产业设计再制造计划启动仪式</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>700</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>680</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>290</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>8</string>
				<key>weight</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#585252</string>
				<key>content</key>
				<string>暨传统产业设计再制造高峰论坛</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>700</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>635</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>290</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
