<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1013</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1334</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>radius</key>
				<string>0</string>
				<key>editType</key>
				<string>0</string>
				<key>imageUrl</key>
				<string>border4</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>picture</string>
				<key>width</key>
				<string>331</string>
				<key>height</key>
				<string>863</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>214</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>88</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>180</string>
				<key>height</key>
				<string>180</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>285</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>996</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>48</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>才  艺  征  集  令</string>
				<key>width</key>
				<string>600</string>
				<key>height</key>
				<string>86</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>75</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>247</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>太火鸟科技智能硬件孵化平台</string>
				<key>width</key>
				<string>600</string>
				<key>height</key>
				<string>48</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>75</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>317</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>48</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>雷海波</string>
				<key>width</key>
				<string>400</string>
				<key>height</key>
				<string>78</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>175</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>800</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>36</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>特邀嘉宾</string>
				<key>width</key>
				<string>200</string>
				<key>height</key>
				<string>64</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>275</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>894</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>扫 码 了 解 更 多</string>
				<key>width</key>
				<string>300</string>
				<key>height</key>
				<string>40</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>225</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1180</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>8月25日／周四 14:00-16:00</string>
				<key>width</key>
				<string>700</string>
				<key>height</key>
				<string>46</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>25</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1229</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>北京市朝阳区751时尚设计广场B7栋 铟立方未来商店</string>
				<key>width</key>
				<string>700</string>
				<key>height</key>
				<string>46</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>25</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1275</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
