<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1002</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1334</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>0</string>
				<key>imageUrl</key>
				<string>border</string>
				<key>width</key>
				<string>670</string>
				<key>height</key>
				<string>1130</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>4</string>
				<key>name</key>
				<string>border</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-40</string>
					<key>left</key>
					<string>40</string>
					<key>bottom</key>
					<string>-44</string>
					<key>top</key>
					<string>160</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>width</key>
				<string>170</string>
				<key>height</key>
				<string>170</string>
				<key>zindex</key>
				<string>7</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-290</string>
					<key>left</key>
					<string>290</string>
					<key>bottom</key>
					<string>-20</string>
					<key>top</key>
					<string>1144</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>logo</string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>logo</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-40</string>
					<key>left</key>
					<string>560</string>
					<key>bottom</key>
					<string>-1184</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>420</string>
				<key>height</key>
				<string>80</string>
				<key>zindex</key>
				<string>1</string>
				<key>align</key>
				<string>0</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-218</string>
					<key>left</key>
					<string>112</string>
					<key>bottom</key>
					<string>-1127</string>
					<key>top</key>
					<string>137</string>
				</dict>
				<key>content</key>
				<string>吻吻鱼CC杯</string>
				<key>fontSize</key>
				<string>50</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>420</string>
				<key>height</key>
				<string>60</string>
				<key>zindex</key>
				<string>2</string>
				<key>align</key>
				<string>0</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-218</string>
					<key>left</key>
					<string>112</string>
					<key>bottom</key>
					<string>-1066</string>
					<key>top</key>
					<string>210</string>
				</dict>
				<key>content</key>
				<string>小米众筹破百万</string>
				<key>fontSize</key>
				<string>36</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>6</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>168</string>
				<key>zindex</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-110</string>
					<key>left</key>
					<string>110</string>
					<key>bottom</key>
					<string>-913</string>
					<key>top</key>
					<string>255</string>
				</dict>
				<key>content</key>
				<string>1,000,000</string>
				<key>fontSize</key>
				<string>100</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>lineHeight</key>
				<string>40</string>
				<key>weight</key>
				<string>4</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>300</string>
				<key>zindex</key>
				<string>4</string>
				<key>align</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-110</string>
					<key>left</key>
					<string>110</string>
					<key>bottom</key>
					<string>-329</string>
					<key>top</key>
					<string>705</string>
				</dict>
				<key>content</key>
				<string>温度可视，为了让你远离人肉试温
7小时保温，为了给你持久的温暖
320g轻量杯身，为了你品味慢生活
为了你，我们无限可能</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>66</string>
				<key>zindex</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-110</string>
					<key>left</key>
					<string>110</string>
					<key>bottom</key>
					<string>-236</string>
					<key>top</key>
					<string>1042</string>
				</dict>
				<key>content</key>
				<string>众筹价179元</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#FFFFFF</string>
				<key>width</key>
				<string>160</string>
				<key>height</key>
				<string>45</string>
				<key>zindex</key>
				<string>6</string>
				<key>align</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-40</string>
					<key>left</key>
					<string>550</string>
					<key>bottom</key>
					<string>-1138</string>
					<key>top</key>
					<string>160</string>
				</dict>
				<key>content</key>
				<string>小米众筹新品</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#F2A91F</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
