<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1004</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1034</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>97</string>
				<key>name</key>
				<string>photo</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>-300</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>0</string>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>300</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>95</string>
				<key>name</key>
				<string>shading</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1034</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>170</string>
				<key>height</key>
				<string>170</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>99</string>
				<key>name</key>
				<string>qr</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-80</string>
					<key>left</key>
					<string>500</string>
					<key>bottom</key>
					<string>-54</string>
					<key>top</key>
					<string>1110</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>98</string>
				<key>name</key>
				<string>logo</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-540</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>-254</string>
					<key>top</key>
					<string>930</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>60</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>突破源自</string>
				<key>width</key>
				<string>710</string>
				<key>height</key>
				<string>84</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-20</string>
					<key>left</key>
					<string>20</string>
					<key>bottom</key>
					<string>-1178</string>
					<key>top</key>
					<string>72</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>2</string>
				<key>background</key>
				<string>#FFFFFF</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>72</string>
				<key>color</key>
				<string>#225993</string>
				<key>content</key>
				<string>更高</string>
				<key>width</key>
				<string>170</string>
				<key>height</key>
				<string>100</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-20</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>-1079</string>
					<key>top</key>
					<string>155</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>3</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>72</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>的信仰</string>
				<key>width</key>
				<string>560</string>
				<key>height</key>
				<string>100</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-20</string>
					<key>left</key>
					<string>170</string>
					<key>bottom</key>
					<string>-1079</string>
					<key>top</key>
					<string>155</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>60</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>20小时</string>
				<key>width</key>
				<string>710</string>
				<key>height</key>
				<string>84</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-20</string>
					<key>left</key>
					<string>20</string>
					<key>bottom</key>
					<string>-996</string>
					<key>top</key>
					<string>254</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>72</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>聚能恒温</string>
				<key>width</key>
				<string>710</string>
				<key>height</key>
				<string>100</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-20</string>
					<key>left</key>
					<string>20</string>
					<key>bottom</key>
					<string>-907</string>
					<key>top</key>
					<string>327</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>align</key>
				<string>0</string>
				<key>weight</key>
				<string>4</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#000000</string>
				<key>content</key>
				<string>温度不变  信仰不变</string>
				<key>width</key>
				<string>410</string>
				<key>height</key>
				<string>56</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-260</string>
					<key>left</key>
					<string>80</string>
					<key>bottom</key>
					<string>-173</string>
					<key>top</key>
					<string>1105</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>align</key>
				<string>0</string>
				<key>weight</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#000000</string>
				<key>content</key>
				<string>JUSRT REAL 不插电冰箱</string>
				<key>width</key>
				<string>410</string>
				<key>height</key>
				<string>42</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-260</string>
					<key>left</key>
					<string>80</string>
					<key>bottom</key>
					<string>-135</string>
					<key>top</key>
					<string>1157</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>align</key>
				<string>0</string>
				<key>weight</key>
				<string>0</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#000000</string>
				<key>content</key>
				<string>5月27日 京东众筹正式上线</string>
				<key>width</key>
				<string>410</string>
				<key>height</key>
				<string>33</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-260</string>
					<key>left</key>
					<string>80</string>
					<key>bottom</key>
					<string>-87</string>
					<key>top</key>
					<string>1214</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>align</key>
				<string>0</string>
				<key>weight</key>
				<string>0</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#000000</string>
				<key>content</key>
				<string>与中国奥运代表团携手征战里约</string>
				<key>width</key>
				<string>410</string>
				<key>height</key>
				<string>33</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-260</string>
					<key>left</key>
					<string>80</string>
					<key>bottom</key>
					<string>-53</string>
					<key>top</key>
					<string>1248</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
