<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1006</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>97</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1334</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>97</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>626</string>
				<key>height</key>
				<string>840</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-62</string>
					<key>left</key>
					<string>62</string>
					<key>bottom</key>
					<string>-340</string>
					<key>top</key>
					<string>154</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>97</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>626</string>
				<key>height</key>
				<string>340</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-62</string>
					<key>left</key>
					<string>62</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>994</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>98</string>
				<key>name</key>
				<string>logo2</string>
				<key>width</key>
				<string>300</string>
				<key>height</key>
				<string>80</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-388</string>
					<key>left</key>
					<string>62</string>
					<key>bottom</key>
					<string>-1179</string>
					<key>top</key>
					<string>75</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string></string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>99</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-90</string>
					<key>left</key>
					<string>510</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1184</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>从此改变</string>
				<key>width</key>
				<string>470</string>
				<key>height</key>
				<string>42</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-140</string>
					<key>left</key>
					<string>140</string>
					<key>bottom</key>
					<string>-606</string>
					<key>top</key>
					<string>686</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>你的测量方式</string>
				<key>width</key>
				<string>470</string>
				<key>height</key>
				<string>42</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-140</string>
					<key>left</key>
					<string>140</string>
					<key>bottom</key>
					<string>-562</string>
					<key>top</key>
					<string>730</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>INSTRU ENTS</string>
				<key>width</key>
				<string>470</string>
				<key>height</key>
				<string>42</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-90</string>
					<key>left</key>
					<string>190</string>
					<key>bottom</key>
					<string>-232</string>
					<key>top</key>
					<string>1060</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>智能测距笔</string>
				<key>width</key>
				<string>470</string>
				<key>height</key>
				<string>33</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-90</string>
					<key>left</key>
					<string>190</string>
					<key>bottom</key>
					<string>-97</string>
					<key>top</key>
					<string>1104</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
