<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1003</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1334</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>97</string>
				<key>name</key>
				<string>photo</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>99</string>
				<key>name</key>
				<string>qr</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-531</string>
					<key>left</key>
					<string>69</string>
					<key>bottom</key>
					<string>-1128</string>
					<key>top</key>
					<string>56</string>
				</dict>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string></string>
				<key>width</key>
				<string>190</string>
				<key>height</key>
				<string>190</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>98</string>
				<key>name</key>
				<string>logo</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-20</string>
					<key>left</key>
					<string>540</string>
					<key>bottom</key>
					<string>-20</string>
					<key>top</key>
					<string>1124</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>weight</key>
				<string>6</string>
				<key>background</key>
				<string>#3BF7E6</string>
				<key>width</key>
				<string>388</string>
				<key>height</key>
				<string>50</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>362</string>
					<key>bottom</key>
					<string>-1228</string>
					<key>top</key>
					<string>56</string>
				</dict>
				<key>zindex</key>
				<string>1</string>
				<key>align</key>
				<string>1</string>
				<key>content</key>
				<string>#COLOURFUL DAY#</string>
				<key>fontSize</key>
				<string>32</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>260</string>
				<key>height</key>
				<string>45</string>
				<key>zindex</key>
				<string>2</string>
				<key>align</key>
				<string>0</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-126</string>
					<key>left</key>
					<string>364</string>
					<key>bottom</key>
					<string>-1149</string>
					<key>top</key>
					<string>120</string>
				</dict>
				<key>content</key>
				<string>有风没风</string>
				<key>fontSize</key>
				<string>32</string>
				<key>color</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>260</string>
				<key>height</key>
				<string>45</string>
				<key>zindex</key>
				<string>3</string>
				<key>align</key>
				<string>0</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-126</string>
					<key>left</key>
					<string>364</string>
					<key>bottom</key>
					<string>-1114</string>
					<key>top</key>
					<string>165</string>
				</dict>
				<key>content</key>
				<string>飞起来最重要</string>
				<key>fontSize</key>
				<string>32</string>
				<key>color</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>4</string>
				<key>background</key>
				<string>#3BF7E6</string>
				<key>width</key>
				<string>260</string>
				<key>height</key>
				<string>38</string>
				<key>zindex</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-125</string>
					<key>left</key>
					<string>365</string>
					<key>bottom</key>
					<string>-1073</string>
					<key>top</key>
					<string>223</string>
				</dict>
				<key>content</key>
				<string>6月23日，带上云马mini</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>4</string>
				<key>background</key>
				<string>#3BF7E6</string>
				<key>width</key>
				<string>260</string>
				<key>height</key>
				<string>38</string>
				<key>zindex</key>
				<string>5</string>
				<key>align</key>
				<string>0</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-125</string>
					<key>left</key>
					<string>365</string>
					<key>bottom</key>
					<string>-1036</string>
					<key>top</key>
					<string>266</string>
				</dict>
				<key>content</key>
				<string>寻找你的COLOURFUL DAY</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>240</string>
				<key>height</key>
				<string>34</string>
				<key>zindex</key>
				<string>6</string>
				<key>align</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-255</string>
					<key>left</key>
					<string>255</string>
					<key>bottom</key>
					<string>-116</string>
					<key>top</key>
					<string>1190</string>
				</dict>
				<key>content</key>
				<string>UMA运动智慧系统</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>weight</key>
				<string>0</string>
				<key>background</key>
				<string>#</string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>35</string>
				<key>zindex</key>
				<string>7</string>
				<key>align</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-531</string>
					<key>left</key>
					<string>69</string>
					<key>bottom</key>
					<string>-1089</string>
					<key>top</key>
					<string>210</string>
				</dict>
				<key>content</key>
				<string>扫码关注</string>
				<key>fontSize</key>
				<string>22</string>
				<key>color</key>
				<string>#000000</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
