<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1008</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>410</string>
				<key>height</key>
				<string>440</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>342</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>220</string>
				<key>height</key>
				<string>150</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>420</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>270</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>290</string>
				<key>height</key>
				<string>460</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>420</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>430</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>330</string>
				<key>height</key>
				<string>240</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>420</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>900</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>300</string>
				<key>height</key>
				<string>440</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>110</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>792</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>logo</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>logo</string>
				<key>width</key>
				<string>200</string>
				<key>height</key>
				<string>200</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>530</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>20</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1142</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>90</string>
				<key>color</key>
				<string>#E43012</string>
				<key>content</key>
				<string>相约里约</string>
				<key>width</key>
				<string>473</string>
				<key>height</key>
				<string>126</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>114</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>26</string>
				<key>color</key>
				<string>#E43012</string>
				<key>content</key>
				<string>2016 里约奥运会 中国代表团制定装备</string>
				<key>width</key>
				<string>473</string>
				<key>height</key>
				<string>50</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>224</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#E43012</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>34</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>Just Real 不插电冰箱</string>
				<key>width</key>
				<string>350</string>
				<key>height</key>
				<string>58</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>270</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>众筹突破200万</string>
				<key>width</key>
				<string>300</string>
				<key>height</key>
				<string>66</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>90</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>364</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>120</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>2,011,189</string>
				<key>width</key>
				<string>600</string>
				<key>height</key>
				<string>168</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>83</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>405</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#E43012</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>26</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>Just Real 不插电冰箱</string>
				<key>width</key>
				<string>290</string>
				<key>height</key>
				<string>48</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>420</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1150</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
