<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1007</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>410</string>
				<key>height</key>
				<string>1334</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-340</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>340</string>
				<key>height</key>
				<string>1334</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>410</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>0</string>
				<key>imageUrl</key>
				<string>line</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>line</string>
				<key>width</key>
				<string>200</string>
				<key>height</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>488</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>614</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>0</string>
				<key>imageUrl</key>
				<string>line</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>line</string>
				<key>width</key>
				<string>200</string>
				<key>height</key>
				<string>1</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>488</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>712</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>logo</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>logo</string>
				<key>width</key>
				<string>200</string>
				<key>height</key>
				<string>200</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>10</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>50</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>190</string>
				<key>height</key>
				<string>190</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>490</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>900</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>72</string>
				<key>color</key>
				<string>#E1B705</string>
				<key>content</key>
				<string>横扫</string>
				<key>width</key>
				<string>250</string>
				<key>height</key>
				<string>110</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>438</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>420</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>72</string>
				<key>color</key>
				<string>#E1B705</string>
				<key>content</key>
				<string>千军</string>
				<key>width</key>
				<string>250</string>
				<key>height</key>
				<string>110</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>438</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>510</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>Just Real</string>
				<key>width</key>
				<string>250</string>
				<key>height</key>
				<string>66</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>438</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>610</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>32</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>不插电的冰箱</string>
				<key>width</key>
				<string>250</string>
				<key>height</key>
				<string>55</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>438</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>663</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>50</string>
				<key>color</key>
				<string>#E1B705</string>
				<key>content</key>
				<string>众筹一天</string>
				<key>width</key>
				<string>250</string>
				<key>height</key>
				<string>80</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>438</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>712</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>64</string>
				<key>color</key>
				<string>#E1B705</string>
				<key>content</key>
				<string>破百万</string>
				<key>width</key>
				<string>250</string>
				<key>height</key>
				<string>100</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>438</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>763</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>18</string>
				<key>color</key>
				<string>#000000</string>
				<key>content</key>
				<string>与中国奥运代表携手征战里约</string>
				<key>width</key>
				<string>300</string>
				<key>height</key>
				<string>40</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1265</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
