<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1010</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1034</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>300</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1174</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>logo</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>logo</string>
				<key>width</key>
				<string>150</string>
				<key>height</key>
				<string>150</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>58</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1174</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>picture</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>picture</string>
				<key>width</key>
				<string>280</string>
				<key>height</key>
				<string>280</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>460</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1054</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#09AEA0</string>
				<key>content</key>
				<string>2017.03.22</string>
				<key>width</key>
				<string>390</string>
				<key>height</key>
				<string>55</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>58</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1050</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>5</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#09AEA0</string>
				<key>content</key>
				<string>北京市 朝阳区酒仙桥路 北京751时尚设计广场 铟立方未来商店</string>
				<key>width</key>
				<string>390</string>
				<key>height</key>
				<string>70</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>58</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1100</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>全世界仍有80%的人口</string>
				<key>width</key>
				<string>45</string>
				<key>height</key>
				<string>600</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>630</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>70</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>面临不同程度的水问题</string>
				<key>width</key>
				<string>45</string>
				<key>height</key>
				<string>600</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>590</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>120</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>全球有11亿人缺乏安全饮用水</string>
				<key>width</key>
				<string>55</string>
				<key>height</key>
				<string>700</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>535</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>140</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>28</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>平均每8秒</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>300</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>490</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>330</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>28</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>就有一个儿童死于水污染导致的疾病</string>
				<key>width</key>
				<string>45</string>
				<key>height</key>
				<string>600</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>450</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>370</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>让我们脸上的每一滴眼泪</string>
				<key>width</key>
				<string>45</string>
				<key>height</key>
				<string>500</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>390</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>430</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>洗涤土壤河流</string>
				<key>width</key>
				<string>45</string>
				<key>height</key>
				<string>400</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>345</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>470</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>就像它们能进化灵魂一样</string>
				<key>width</key>
				<string>45</string>
				<key>height</key>
				<string>420</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>305</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>515</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>0</string>
				<key>weight</key>
				<string>3</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>为地球</string>
				<key>width</key>
				<string>40</string>
				<key>height</key>
				<string>300</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>200</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>285</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>20</string>
				<key>weight</key>
				<string>5</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>70</string>
				<key>color</key>
				<string>#00DBFF</string>
				<key>content</key>
				<string>画一滴眼泪</string>
				<key>width</key>
				<string>90</string>
				<key>height</key>
				<string>550</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>110</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>280</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>6</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>22</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>关注“四季沐歌”或“太火鸟”微博参与 #画一滴眼泪# 话题互动</string>
				<key>width</key>
				<string>320</string>
				<key>height</key>
				<string>75</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>940</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
