<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#3985FF</string>
		<key>idField</key>
		<string>1009</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1104</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>160</string>
				<key>height</key>
				<string>160</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>520</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1129</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>48</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>是什么支撑我</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>74</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>58</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>仍然义无反顾的</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>66</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>217</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>64</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>不是穷!!!</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>95</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>342</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>是因为我众筹了一台</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>66</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>427</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>2</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>54</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>可以1小时</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>82</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>480</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>90</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>大风大雨</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>126</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>108</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>64</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>出门上班？</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>95</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>264</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>2</string>
				<key>fontSize</key>
				<string>64</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>烘干全身衣物的</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>95</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>546</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#3985FF</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>42</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>       Hooeasy i8 壁挂洗衣机</string>
				<key>width</key>
				<string>578</string>
				<key>height</key>
				<string>72</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>172</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>643</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>42</string>
				<key>color</key>
				<string>#3985FF</string>
				<key>content</key>
				<string>截止6月21日，突破200万</string>
				<key>width</key>
				<string>580</string>
				<key>height</key>
				<string>75</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>85</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>920</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>130</string>
				<key>color</key>
				<string>#3985FF</string>
				<key>content</key>
				<string>2,000,000</string>
				<key>width</key>
				<string>630</string>
				<key>height</key>
				<string>182</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>975</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>40</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>Hooeasy i8 壁挂洗衣机</string>
				<key>width</key>
				<string>450</string>
				<key>height</key>
				<string>66</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1162</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>能烘干衣服的洗衣机</string>
				<key>width</key>
				<string>450</string>
				<key>height</key>
				<string>52</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>60</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1219</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>22</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>扫码关注</string>
				<key>width</key>
				<string>160</string>
				<key>height</key>
				<string>44</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>520</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>1290</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
