<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>background_color</key>
		<string>#FFFFFF</string>
		<key>idField</key>
		<string>1005</string>
		<key>size</key>
		<dict>
			<key>height</key>
			<string>1334</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<key>image</key>
		<array>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>photo</string>
				<key>zindex</key>
				<string>10</string>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>photo</string>
				<key>width</key>
				<string>750</string>
				<key>height</key>
				<string>1334</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>0</string>
					<key>left</key>
					<string>0</string>
					<key>bottom</key>
					<string>0</string>
					<key>top</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>qr</string>
				<key>zindex</key>
				<string>8</string>
				<key>type</key>
				<string>3</string>
				<key>name</key>
				<string>qr</string>
				<key>width</key>
				<string>180</string>
				<key>height</key>
				<string>180</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-465</string>
					<key>left</key>
					<string>105</string>
					<key>bottom</key>
					<string>-143</string>
					<key>top</key>
					<string>1011</string>
				</dict>
			</dict>
			<dict>
				<key>editType</key>
				<string>1</string>
				<key>imageUrl</key>
				<string>logo</string>
				<key>zindex</key>
				<string>9</string>
				<key>type</key>
				<string>2</string>
				<key>name</key>
				<string>logo</string>
				<key>width</key>
				<string>180</string>
				<key>height</key>
				<string>180</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-465</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>-564</string>
					<key>top</key>
					<string>590</string>
				</dict>
			</dict>
		</array>
		<key>text</key>
		<array>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>110</string>
				<key>color</key>
				<string>#3F71A6</string>
				<key>content</key>
				<string>LUNAR</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>154</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-110</string>
					<key>left</key>
					<string>110</string>
					<key>bottom</key>
					<string>-1047</string>
					<key>top</key>
					<string>133</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>超乎想象的未来科技</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>42</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-120</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>-516</string>
					<key>top</key>
					<string>780</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>30</string>
				<key>color</key>
				<string>#3F71A6</string>
				<key>content</key>
				<string>无尽之光    永恒转动</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>42</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-120</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>-472</string>
					<key>top</key>
					<string>820</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#3F71A6</string>
				<key>content</key>
				<string>喜欢阳光的温度</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>33</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-120</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>-411</string>
					<key>top</key>
					<string>890</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#3F71A6</string>
				<key>content</key>
				<string>不惧时间的奔跑</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>33</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-120</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>-377</string>
					<key>top</key>
					<string>924</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>0</string>
				<key>align</key>
				<string>0</string>
				<key>fontSize</key>
				<string>24</string>
				<key>color</key>
				<string>#3F71A6</string>
				<key>content</key>
				<string>增加运动的乐趣</string>
				<key>width</key>
				<string>530</string>
				<key>height</key>
				<string>33</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-120</string>
					<key>left</key>
					<string>100</string>
					<key>bottom</key>
					<string>-341</string>
					<key>top</key>
					<string>960</string>
				</dict>
			</dict>
			<dict>
				<key>zindex</key>
				<string>1</string>
				<key>background</key>
				<string>#</string>
				<key>lineHeight</key>
				<string>10</string>
				<key>weight</key>
				<string>4</string>
				<key>align</key>
				<string>1</string>
				<key>fontSize</key>
				<string>20</string>
				<key>color</key>
				<string>#FFFFFF</string>
				<key>content</key>
				<string>扫码关注</string>
				<key>width</key>
				<string>180</string>
				<key>height</key>
				<string>35</string>
				<key>position</key>
				<dict>
					<key>right</key>
					<string>-465</string>
					<key>left</key>
					<string>105</string>
					<key>bottom</key>
					<string>-111</string>
					<key>top</key>
					<string>1195</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
